In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
puzzle = pd.read_csv('E:/Desktop/Lambda_School/Github Repos/CS-Unit-2-Build-Week-Sprint-Challenge/puzzle.csv')

In [5]:
puzzle.head()

   0.3971497  2.1136286
0    0.39715   2.113629
1    0.39715   2.113629
2    0.39715   2.113629
3    0.39715   2.113629
4    0.39715   2.113629

In [6]:
puzzle.describe()

         0.3971497    2.1136286
count  1023.000000  1023.000000
mean      0.504834    -0.390610
std       0.355265     1.498035
min      -0.925070    -2.837888
25%       0.389602    -1.559230
50%       0.592344    -1.130949
75%       0.746599     0.572017
max       1.195399     3.096964